@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 400;
    src: url(../font/IRANSansWeb_Regular.woff) format("truetype");
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url(../font/IRANSansWeb_Bold.woff) format("truetype");
}
@font-face {
    font-family: IRANYekan;
    src: url(../font/iranyekanwebregular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: IRANYekan;
    src: url(../font/iranyekanwebbold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}
body {
    direction: rtl;
    margin: 0;
}

* {
    font-family: IRANSans !important;
    font-size: 18px;
}
